.order-favorites {
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.order-favorites .button {
    margin: 2em;
    padding: 1em;
    align-self: center;
}